$tablet-width: 750px;
$until-tablet-width: 749px;
$until-desktop-width: 969px;
$desktop-width: 1100px;
$circe: "Circe-Regular", "Arial", sans-serif;
$ptsans: "PTSans-Regular", "Arial", sans-serif;
$myriadpro: "MyriadPro-Regular", "Arial", sans-serif;
$ptsans-bold: "PTSans-Bold", "Arial", sans-serif;
$myriadpro-bold: "MyriadPro-Bold", "Arial", sans-serif;

$green: #09aa57;
$gray: #474d52;
