.partners {
  background-color: #f1f5f6;
  box-shadow: inset 0 1vw 4vw -0.5vw rgba(1, 1, 1, 0.58);
}

.partners__container {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20vw;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partners__title {
  margin: 0;
  font-size: 4.6vw;
  line-height: 0.88;
  color: $gray;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $myriadpro-bold;
  text-align: center;
  padding-top: 3vw;
  margin-bottom: 4vw;
}

.partners__slides {
  @include list-reset;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 3.5vw;
  padding: 0 5vw;
}

.partners__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.partners__link {
  width: auto;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .partners__link {
    width: 18vw;
    height: 10vw;
  }

  .partners__title {
    font-size:  3.1vw;
  }
}
