.catalog-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e5e6;
  margin-bottom: 1.3vw;
  padding: 0 20px;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $green;
  }
}

.catalog-card__img {
  width: 100%;
  display: flex;
  align-items: center;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.catalog-card__text {
  font-family: $myriadpro;
  color: $gray;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-card__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-card__add {
  color: $green;
  font-size: 14px;
  line-height: 1.41;
  margin: 0;
  text-transform: none;
  margin-bottom: 20px;
  display: block;
}

.catalog-card__descr {
  font-size: 14px;
  line-height: 1.41;
  margin: 0;
  text-transform: none;
  margin-bottom: 15px;
}

.catalog-card__btn {
  border: 5px solid #e2e5e6;
  width: 100%;
  max-width: 200px;
  padding: 2%;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    flex-direction: row;
    width: 48.2%;
    padding: 0;
    margin-right: 2%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog-card__text {
    justify-content: flex-start;
    padding-right: 5%;
    width: 50%;
  }

  .catalog-card__img {
    width: 50%;
    margin-right: 3.3%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card {
    margin-right: 3.1%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog-card__img {
    width: 35%;
    margin-right: 2.3vw;
    justify-content: flex-start;
  }

  .catalog-card__text {
    margin-top: 4.3vw;
    margin-bottom: 2.7vw;
  }

  .catalog-card__title {
    font-size: 1.6vw;
    margin-bottom: 0.2vw;
  }

  .catalog-card__add {
    font-size: 1.1vw;
    margin-bottom: 2vw;
  }

  .catalog-card__descr {
    font-size: 1.1vw;
    margin-bottom: 2vw;
  }

  .catalog-card__btn {
    width: 65%;
    padding: 0 2vw;
    max-width:  none;
    border: 0.3vw solid #e2e5e6;
  }
}


