.promo-video__video-responsive {
  width: 100%;
}

.promo-video__video-start,
.promo-video__video-end,
.promo-video__canvas {
  height: auto;
  width: 100%;
  min-height: 50vw;
}

.promo-video__canvas {
  display: block;
}

.promo-video__video-start,
.promo-video__video-end {
  display: none;

  &--active {
    display: block;
  }
}


@media (min-width: $tablet-width) {
  .promo-video {
    margin-top: -110px;
  }
}

@media (min-width: $desktop-width) {
  .promo-video {
    margin-top: -8.1vw;
  }
}
